@use '../variables' as *;

.Map {
    position: absolute;
    top: 60px; /* Adjust this value if you have a top bar */
    left: 60px; /* Adjust this value to match the width of your sidebar */
    right: 0;
    bottom: 0;
  }
  .leaflet-control-container {
    position: absolute !important; 
    bottom: 135px !important; 
    right: 100px !important;
    border: none !important; 
  }
  .leaflet-control-zoom {
    border: none !important; 
    background-color: $pbg !important;
    opacity: 1;
    scale: 1.2;

  }
    .leaflet-control-zoom-in, .leaflet-control-zoom-out {
      all: unset;
      background-color: $oobg !important;
      transition: background-color 0.3s ease;
    &:hover {
      background-color: $ooobg !important;
    }}

    .leaflet-control-zoom-in, .leaflet-control-zoom-out>span {
      color: $ptext !important;
     
      

    }
  
    .leaflet-control-attribution{
      display: none;
    }